/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* global styles */



html {
  box-sizing: border-box;
  background-color: #555;
}

*, *:before, *:after {
  box-sizing: inherit;
}


body {
    background-image: url("../img/bg.jpg");
    /*added max-width and margin to simulate mobile layout in browser*/
    max-width: 400px;
    margin: auto;
}

/* header styles */

header {
    background-color: #003566;
    color: #fff;
    padding: .5rem;
}

header img {
    height: 2.5rem;
    display: block;
    float: left;
}

header h1 {
    font-size: 1rem;
    float: left;
    font-family: Palatino, Georgia, Times, serif;
    line-height: 1em;
    margin: 1rem 0 0 1rem;
}

header a:link, header a:visited {
    display: inline-block;
    float: right;
    padding: .5rem .75rem;
    background-color: #fff;
    border-radius: 5px;
    color: #003566;
    text-decoration: none;
    font-weight: bold;
}

header a:hover, header a:active, header a:focus {
    background-color: #bbb;
}

/* main styles */

main {
    padding: 1rem;
    margin-top: 1rem;
}

main h2 {
    margin: 0;
    color: #AD2800;
    margin-bottom: 1rem;
    font-size: 1.75em;
}

main p {
    font-size: .875em;
}

/* article styles */

article {
    margin-bottom: 1rem;
}
article h3 {
    display: block;
    margin: 0;
    padding: 1.4rem 1rem;
    font-size: 1.5em;
    color: #fff;
    background-size: 100%;
    text-shadow: 1pt 1pt rgba(0, 0, 0, .75);
}

#cakes {
    background-image: url('../img/cake_bg.jpg');
}

#cookies {
    background-image: url('../img/cupcakes_bg.jpg');
}

#buns {
    background-image: url('../img/buns_bg.jpg');
}
.article_content {
    padding: 1rem;
    background-color: #FFF7DA;
}

.article_content p:nth-of-type(1) {
    margin-top: 0;
}

article a.cta_button {
    text-align: center;
    display: block;
    width: 50%;
    margin: 1rem auto;
    padding: 1rem;
    background-color: #AD2800;
    border-radius: 5px;
    color: #fff;
    text-decoration: none;

}
table {
    max-width: 100%;
    margin: 2rem auto;

}
table, th, td {
    border: 1pt solid #000;
    text-align: right;
    font-size: .875rem;
    padding: .25rem;
}

th {
    background-color: #AD2800;
    color: #FFF7DA;
}

caption {
    color: #ad2800;
    font-weight: bold;
    margin-bottom: 1rem;
}

.subtitle {
    text-align: center;
    font-style: italic;
    margin-top: -1rem;
}

.gallery {
    position: relative;
}

.gallery img {
    width: 100%;
    display: block;
}

/* This is janky but would get replaced with jquery/js gallery window*/
.gallery p.gallery_label {
    color: #fff;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    margin: 0;
    line-height: 0;
    position: absolute;
    width: 100%;
    padding: 10% 1rem;
    background-color: rgba(0, 0, 0, .5);
    bottom: 40%;
    left: 50%;
    transform: translateY(-50%);
    transform: translateX(-50%);
}

/*footer styles */

footer {
    background-color: #003566;
    color: #fff;
    padding: .5rem;
    padding: 2rem 1rem;
}
.footer_module {
    font-size: .75em;
    line-height: .9em;
    width: 33%;
    float: left;
}

.footer_module h4 {
    margin-top: 0;
}

.footer_module a:link, .footer_module a:visited {
    color: #fff;
    text-decoration: none;
    border-bottom: 1pt solid #fff;
} 

.footer_module a.social:link, .footer_module a.social:visited {
    border-bottom: none;
    font-weight: bold;
    font-size: 1.3rem;
    line-height: 2rem;
} 



/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */



@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
