$tablet-width: 480px;
$desktop-width: 800px;
$wide-width: 1000px;
$animation: .4s ease all;
$font-stack: 'Roboto', sans-serif;
$blue: #0288D1;
$white: #ffffff;
$light-gray: #f7f7f7;
$dark-gray: #757575;
$orange: #FF5722;

