body {
	font-family: monospace;
	font-size: 16px;
	background-color: $yellow;
	color: $black;
	margin: 0;
	padding: 0;
}

h1 {
	font-weight: normal;
	background-color: $pink;
	color: $yellow;
	margin: 0;
	padding: 1rem;
}

nav {
}

.menu-toggle {
	display: none;
}

.menu-toggle:checked ~ ul {
	right: 0%
}

.label-holder {
	background-color: $pink;
	position: fixed;
	top: 8%;
	right: 5%;
	z-index: 5;
	padding: .5rem;
	height: 46px;
	margin-top: -5px;

}

label {
	display: block;
	width: 40px;
	background-color: $yellow;
	height: 6px;
	padding-top: 6px;

	
}

label::before, label::after {
	content: "";
	display: block;
	width: 40px;
	background-color: $yellow;
	height: 6px;
	margin-top: 6px;
	
	
}

ul {
	position: fixed;
	top: 0%;
	right: 100%;
	min-height: 100%;
	width: 100%;
	background-color: $pink;
	margin: 0;
	padding: 1rem;
	list-style: none;
	transition: right .4s ease;
}

li {
	font-size: 2.5rem;
	line-height: 4.5rem;

	a {
		text-decoration: none;
		color: $pink;
		background-color: $yellow;
		padding: .5rem 1rem;
	}
}

section {
	padding: 1rem;
	line-height: 1.4rem;
}

