@media screen and (min-width: 570px) {
	body {
		max-width: 80%;
		margin: 2rem auto;
	}

	h1 {
		font-size: 3.5rem;
	}

	h2 {
		font-size: 1.7rem;
	}

	main {
		font-size: 1.1rem;
		line-height: 1.5rem;
	}

	footer {
		font-size: .9rem;
	}
}